@charset "UTF-8";

.header {
	background-color: gray;
	width: 100%;
}

.login {
	display: inline-block;
	padding: 10px;
	color: white;
}

.date {
	padding: 10px;
	font-size: 10px;
}

.body {
	padding-top: 50px;
	padding-bottom: 50px;
}

.footer {
	background-color: gray;
}

.inc {
	display: inline-block;
	padding: 10px;
	color: white;
}