body {
	width: 100%;
}

.wrapper {
	width: 600px;
	margin: 0 auto;
}

.header {
	width: 600px;
	height: 150px;
	background: #ffff00;
}

.h-1 {
	float: left;
	width: 200px;
	height: 150px;
	background: #33ffff;
}

.h-2 {
	float: left;
	width: 200px;
	height: 150px;
	background: #ff0000;	
}
.h-3 {
	float: left;
	width: 200px;
	height: 150px;
	background: #0000ff;
}

.f-1 {
	float: left;
	width: 500px;
	height: 150px;
	background: #00ff00;	
}
.f-2 {
	float: left;
	width: 100px;
	height: 150px;
	background: #ff00ff;
}

.footer {
	width: 100%;
	height: 150px;
	background: #33ffff;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
