@media screen and (min-width: 767px) {
}

@media screen and (max-width: 767px) {

}


@media screen and (max-width: 479px) {


    .header {
        height: 180px;
        width: 200px;        
    }
.header-0{
    position: relative;
    top:10px;
    left:70px;
    width: 60px;
    height: 160px;
    background:#ffffff;
}
.header-1{
    top:10px;
    left:10px;
}
.header-2{
    top:50px;
    left:0px;
}
.header-3{
    top:50px;
    left:0px;
}
    .right{
    	float: none;
    	width: 200px;
        height: 200px;
    }
    .right-1{
    top:20px;
    left:30px;
    border: 5px solid #ffffff;
    background:#ff863f;
}

.right-2{
    top:55px;
    left:-5px;
    border: 5px solid #ffffff;
    background:#ff863f;
}
.right-3{
    top:55px;
    left:-5px;
    border: 5px solid #ffffff;
    background:#ff863f;
}
    .left{
    	float: none;
        width: 200px;
        height: 100px;

    }

    .footer {
        width: 200px;
    }
}